@import './element-variables.scss';

body{
  min-width: 1000px;
}

a {
  color: $--color-primary;
  text-decoration: none;
  &:hover,
  &:focus {
    color: mix($--color-white, $--color-primary, $--button-hover-tint-percent);
  }
  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  }
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both
  }
}