@import './element-variables.scss';
a {
  color: $--color-primary;
  text-decoration: none;
  &:hover,
  &:focus {
    color: mix($--color-white, $--color-primary, $--button-hover-tint-percent);
  }
  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  }
}

.el-carousel__button {
  height: 3px;
  width: 30px;
}

// .el-carousel__indicator.is-active button{
//   width: 30px;
// }
// .el-carousel__button{
//   $width: 12px;
//   width: $width;
//   height: $width;
//   border-radius:$width;
// }